.products {
	padding: 2px;
	background-color: hsl( 0, 0%, 100% );
	font-size: 0;
}

.products a {
	color: inherit;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	position: relative;
	width: 33.333%;
	padding: 1px;
	perspective: 1000px;
	transition-duration: .6s;
	transition-property: transform;
	will-change: transform;
}

	.products a:active {
		transition-duration: 0s;
	}
	
	.products a:hover:not( :active ) {
		transform: scale( .95 );
	}

.products img {
	width: 100%;
	height: auto;
	transition: transform .2s cubic-bezier(.215,.61,.355,1);
	will-change: transform;
}

@media ( max-width: 700px ) {
	
	.products a {
		width: 50%;
	}
	
}